body {
    font: normal 16px Arial;
    background: rgb(37, 2, 37);
}

.container-corpo {
    background: white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.300);
    width: 50%;
    margin: 0 auto;
}

header {
    margin: auto;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

header hr {
    width: 95%;
    opacity: 0.5;
}